$break-small: 480px; //this is set seperately in functions.js
$break-large: 1050px;
$popoutText: #e5e5e5;
$smallNavBg: #494141;
$smallNavFg: $popoutText;
$outsideWidth: 1120px;
$firstFont: "Exo"; 
$bodyFont: "Open Sans";
$regFontSize: 1em;
$lineHeight: calc(#{$regFontSize}*1.618);
$headerColor: #4a81c8;
$navBg: rgba($headerColor, 0.2);
$imageWidth: 50vw;

@mixin socialLinks {
  font-size: 1.8em;
  margin: 0.2em;
  i{
    color: $smallNavFg;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }
  i:hover {
    color: $headerColor; 
    transform: scale(1.1);
  }
  .icon-background {
    color: $smallNavBg;
  }
}


@import url('https://fonts.googleapis.com/css?family=Exo|Open+Sans');

html{scroll-behavior:smooth;}

body {
  font-family: $bodyFont;
    margin: 0;
    font-size: $regFontSize;
    line-height: $lineHeight;
    color: #333;
  }

h1 {
  font-family: $firstFont;
  margin: 10px auto;
  text-align: center;
    font-size: 2em;
    line-height: 1.45em;
}  

h4 {
  text-align: center;
  font-size: 1.5em;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $headerColor;
  }
}


  header {
    font-family: $firstFont;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: $headerColor;
    margin-top: 0;
    top:0;
  }
  
  #nav {
    transition: 0.7s;
    font-size: 1.3em;
    
  }
  
  #navDiv {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: $outsideWidth;
    pointer-events:none;
    @media screen and (max-width: $outsideWidth){
    max-width: 96vw;
  }

  }
  
  .title {
    margin: 10px;
    font-size: 1.6em;
    color: $smallNavFg;
    border-radius: 8px;
    text-align: center;
    padding: 2.2px;
    cursor: pointer;
    pointer-events: all;
    a { 
      text-decoration: none;
      color: $smallNavFg;
    }
  }

  .topNav {
    pointer-events:none;
    height: 100px;
    line-height: 100px;
    .title {
      line-height: 80px;
      transition: 0.7s;

    }
    @media screen and (max-width: $break-small), screen and (max-height: $break-small) {
      height: 60px;
      background-color: $navBg;
      line-height: 40px; 
      .title {
        line-height: 40px;
      }
    }
  }

  .smallNav {
    height: 60px;
    background-color: $navBg;
    line-height: 40px;
    transition: 0.7s;
    pointer-events:none;
    .title {
      line-height: 40px;
      background-color: $smallNavBg;
    }
    #subTitle {
      display: none;
      transition: 1s;
    }
  }
  
#menuSide, #menu {

  li {
    list-style: none;

    margin: 0 0.2em;
   //transition: 0.5s;
     a {
      
          text-decoration: none;
          color: black;
          position: relative;
  
          &:before,
          &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            width: 0;
            height: 3px;
            transition: all 0.2s ease-in-out;
            transition-duration: 0.5s;
            opacity: 0.5;
          }
          &.hoverUl {
            &:before {
              left: calc(50%);
              background-color: black;
            }
            &:after {
              right: calc(50%);
              background-color: black;
            }
          }
        }

        //@media (min-width: $break-large){
        @media (pointer: fine) {
          &:hover {

          cursor: pointer;
          a{
            &:before,
            &:after {
              width: 50%;
              opacity: 1;
            }
          }
        }}

      @media screen and (max-width: $break-small), screen and (max-height: $break-small) {
        color: $popoutText;
        margin: 10px;
      
      }
  } //https://codepen.io/mxttsco/pen/KgodYm?editors=1000
}

  #menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    pointer-events: auto;
    @media screen and (max-width: $break-small) {
      display: none;
    } 
    @media screen and (min-width: $break-small) {
      display: flex;
    } 
  }

//transforming menu icon
.toggleBox {
  z-index: 200;
  pointer-events: auto;
  transition: 0.8s;

  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 10px;
  background-color: $smallNavBg;
  display: none;
  @media screen and (max-width: $break-small) {
    display: inline-block;
  }
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 5px;
  background-color: $smallNavFg;
  margin: 6px 0px;
  transition: 0.4s;
  border-radius: 3px;
}

.bar1, .bar3 {
  width: 30px;
  margin-left: 5px;
}

.change .bar1, .change .bar3, .change .bar2 {
  width: 40px;
  margin-left: 1px;
  background-color: $smallNavBg;
}

.change .bar1 {
  -webkit-transform: rotate(-405deg) translate(-9px, 6px);
  transform: rotate(-405deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(405deg) translate(-8px, -8px);
  transform: rotate(405deg) translate(-8px, -8px);
}

.change {
  background-color: $smallNavFg;
  font-size: 10em;
}
//end menu icon 
#popout {
  z-index: 90;
  position: fixed;
  height: 100%;
  background: rgba(25, 25, 25, 0.9);
  color: $popoutText;
  overflow:auto;
  margin-top: 1px;
  top: 59px;
  right: 0;
}

.notPopped {
  width: 0px;
  transition: 0.3s;
}

.popped {
  width: 250px;
  transition: 0.3s;
}

#menuSide {
  font-family: $firstFont;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 200;
  li {
    a {
      color: $popoutText;
      &.hoverUl {
        &:before {
          background-color: $headerColor;
        }
        &:after {
          background-color: $headerColor;
        }
      }
    }
  }
}

#modal {
  display: none;
  position: fixed;
  z-index: 77;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  opacity: 0;
}

  #container {
    display: grid;
    width: 100%;
    background-color: white; 
    justify-items: center;
  }
  
  #welcome {
    background-image: url(media/abstract-black-cell-phone-TylerLastovich.jpg);
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    color: $smallNavFg;
    text-align: center;

    h1 {
      top: 70vh;
      position: absolute;
      font-size: 1.2em;
      width: 100px;
      margin: 0 auto;
      text-align: center;
    }

    #smallPhone {
      background-color: black;
      color: $popoutText;
      width: 15%;
      height:35vh;
      border-radius: 5vh;
      margin: 0 auto;
      position: relative;
      top: 55vh;
      transform: translateY(-50%);
      min-height: 250px;
      min-width: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }


    h5 {
      font-weight: normal;
      font-size: 0.7em;
      position: relative;
      
      a {
        @include socialLinks();
      }
      }
      #greeting {
        display: block;
        font-size: 1em;
        height: 100px;
        text-align: center;
        margin: 0 auto;
      }
      #greeting::after {
        content: "";
        position: relative;
        display: inline-block;
        height: 1em;
        right: -5px;
        width: 2px;
        /* Change colour of Cursor Here */
        background-color: $popoutText;
        z-index: 1;
        animation: flash 0.5s none infinite alternate;
      }
      
      @keyframes flash{
        0%{
          opacity: 1;
        }
        100%{
          opacity: 0;
        }
      }
      
      #callToAction {
        width: 100px;
        font-size: 1em;
        text-decoration: none;
        color: black;
        margin: 0 auto;
        background-color: complement($headerColor);
        position: relative;
        border-radius: 5px;
        display: block;
        opacity: 0;
        transition: 1s;
        &:hover {
          transition: 0.5s;
          color: $popoutText;
          background-color: darken(complement($headerColor), 5);          
        }
      }

      #contactLinks {
        display: flex;
        justify-content: space-between;
        width: 15vw;
        margin: 0 auto;
        justify-content: space-between;
        max-width: 150px;
        min-width: 100px;
        height: 30px;
      }

    #downArrow {
      font-size: 3em;
      text-decoration: none;
      position: absolute;
      top: 80vh;
      color: $smallNavFg;
      right: 20vw;
      @media screen and (max-width: $break-small){
      right: 30px;
    }
  }
    #downArrow:hover {
      color: $headerColor;
    }
  }  

.section {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1000px;
  @media screen and (max-width: 1000px){
    max-width: 94%; 
  }
}

 .quote {
    margin:10px;
    padding: 10px;
    color:black;
    font-size: 1em;
  }
  
  .author {
    margin:10px;
    font-size: 2em;
    position: relative;
    right: 28%;
    text-align: right;
    font-size: 1.6em;
    @media screen and (max-width: $break-small) {
      right: 31%;
    }
  }
  
  .speech-bubble {
    position: relative;
    background: lighten($headerColor, 30);
    border-radius: .4em;
    margin: 10px;
  }
  
  .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 75%;
    width: 0;
    height: 0;
    border: 1.9em solid transparent;
    border-top-color: lighten($headerColor, 30);
    border-left: 0;
    border-bottom: 0;
    margin-bottom: -1.8em;
    margin-left: -1.062em;
  }

#about {
  width: 100%;
  background: linear-gradient(135deg, white, #4a81c8);

  h3 {
    background-color: complement($headerColor);
    padding: 20px;
    text-align: center;
  }
h6 {
  font-size: 1.2em;
  text-align: center;
}

  #aboutMe {
    display: flex;
    #p {
      margin: auto 0;
      width: calc(100% - 180px);
      @media screen and (max-width: $break-small){
      width: 100%;
    }
    }

  }
  #quoteMe {
    margin: auto 0;
    width: 180px;
    font-size: 0.8em;
    display: inline;
    @media screen and (max-width: $break-small){
      display: none;
    }
    .speech-bubble {
      background: lighten($headerColor, 30);

    }
    .speech-bubble:after{
    border-top-color: lighten($headerColor, 30);

    }

  }
  img {
    height: 180px;
    width: 120px;
    margin: auto 0;
  }
}

#build {
  width: 100%;
  
  h5 {
    font-size: 1.2em;
  }
  #uplyft {
    background-color: #943ea0;
    padding: 40px;
  }
  #swan {
    background-color: #043a95;
    padding: 40px;
  }
  #other {
    background-color: #2ab680;
    padding: 40px;
    color: white;
  }
  h4 a {
    color: white;
    font-weight: 300;
  }
  figure {
    max-width: 400px;
    min-width: 300px;
    padding: 2rem;
  }

  .portImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media screen and (max-width: 400px) {
      width: 300px;
      margin: 0 auto;
    }
  }
  
  figcaption {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: -20px;
  }

  img {
    width: $imageWidth;
    border-radius: 8px;
    border: 3px solid rgb(19, 16, 16);
    padding: 5px;
    margin: 20px auto;
    transition: all 0.5s ease;

    @media screen and (min-width: $break-large){
      width: 500px;
    }
    @media screen and (max-width: $break-small){
      width: 300px;
    }
  }

  .other-img {
    max-width: 400px;
    min-width: 300px;
  }

  img:hover {
    background: linear-gradient(135deg, #bfd3ec, #e3c6b5);
  }

  .mobile {
    width: calc(#{$imageWidth}/2);
    @media screen and (min-width: $break-large){
      width: 250px;
    }
    @media screen and (max-width: $break-small){
      width: 150px;
    }

  }

}


#contact {
  width: 100%;
  background: linear-gradient(135deg,#00C4FF,#4a81c8);
  margin-top: 30px;

}


  footer {
    width: 100%;
    color: $smallNavFg;
    background-color: $smallNavBg;
    a{
      @include socialLinks();      
    }
 

  }

  #innerFooter {
    min-height: 200px;
    margin: 0 auto;
    max-width: $outsideWidth;
    display: flex;
    justify-content: space-around;
    text-align: center;
    h6 {
      margin: 0;
      font-size: 0.9em;
      font-family: $firstFont;
      line-height: 3em;
    }
    p {
      font-size: 0.8em;
    }

  }  
  
  .container {
    max-width:400px;
    width:100%;
    margin:0 auto;
    position:relative;
    text-align: center;
    @media screen and (max-width: $break-small) {
      width: 300px;
    }

  }
  
  
  #contactForm {
    background: #F9F9F9; 
    padding:25px;
    margin:50px 0;
  
    p {
      font-size: 2em;
    }
    h4 {
      margin:5px 0 15px;
      display:block;
      font-size:1.5em;
      text-align: center;
      color: darken(grey,20);
    }
  
    input, textarea {
      width: calc(100% - 32px);
      max-width:100%;
      border:1px solid #CCC;
      background:#FFF;
      margin:10px 5px;
      padding:10px;
      border-radius: 10px;
      font-family: $bodyFont;
      font-size: 0.9em;
    }
  
    input:hover, textarea:hover {
      transition:border-color 0.3s ease-in-out;
      border:1px solid #AAA;
    }
  
    textarea {
      height:100px;
      resize:none;
    }
  
    button[type="submit"] {
      cursor:pointer;
      width:100%;
      border:none;
      background: #00C4FF;
      padding:10px;
      border-radius: 10px;
      font-size: 0.9em;
    }
  
    button:hover {
      background:#09C;
      color: white;
      transition: #4a81c8 0.3s ease-in-out;
    }
  
    button:active { 
      box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
    }
  
    input:focus, textarea:focus {
      outline:0;
      border:1px solid #999;
    }
    #formResponse {
      font-size: 1em;
      line-height: 1.6em;
    }
  }
